# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/app/.cxx/Debug/2m701r4z/hash_key.txt
android/app/.cxx/Debug/2m701r4z/arm64-v8a/additional_project_files.txt
android/app/.cxx/Debug/2m701r4z/arm64-v8a/android_gradle_build_mini.json
android/app/.cxx/Debug/2m701r4z/arm64-v8a/android_gradle_build.json
android/app/.cxx/Debug/2m701r4z/arm64-v8a/build_file_index.txt
android/app/.cxx/Debug/2m701r4z/arm64-v8a/build.ninja
android/app/.cxx/Debug/2m701r4z/arm64-v8a/cmake_install.cmake
android/app/.cxx/Debug/2m701r4z/arm64-v8a/CMakeCache.txt
android/app/.cxx/Debug/2m701r4z/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/Debug/2m701r4z/arm64-v8a/metadata_generation_command.txt
android/app/.cxx/Debug/2m701r4z/arm64-v8a/prefab_config.json
android/app/.cxx/Debug/2m701r4z/arm64-v8a/symbol_folder_index.txt
android/app/.cxx/Debug/2m701r4z/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/2m701r4z/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/2m701r4z/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/2m701r4z/arm64-v8a/.cmake/api/v1/reply/cache-v2-5dd5965e808b6adb43e4.json
android/app/.cxx/Debug/2m701r4z/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-30a3a532c0f40d1b1283.json
android/app/.cxx/Debug/2m701r4z/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-72a7f7360cc4a24aaa4f.json
android/app/.cxx/Debug/2m701r4z/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/2m701r4z/arm64-v8a/.cmake/api/v1/reply/index-2025-04-12T13-33-49-0435.json
android/app/.cxx/Debug/2m701r4z/arm64-v8a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/2m701r4z/arm64-v8a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/2m701r4z/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/2m701r4z/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/2m701r4z/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/2m701r4z/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/2m701r4z/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/2m701r4z/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/2m701r4z/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/2m701r4z/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/2m701r4z/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/2m701r4z/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/additional_project_files.txt
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/android_gradle_build_mini.json
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/android_gradle_build.json
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/build_file_index.txt
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/build.ninja
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/cmake_install.cmake
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/CMakeCache.txt
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/configure_fingerprint.bin
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/metadata_generation_command.txt
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/prefab_config.json
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/symbol_folder_index.txt
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/.cmake/api/v1/reply/cache-v2-c4e5dfaf996fe9214cc2.json
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-9d21ef1ecedad66f7555.json
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-f83b2a6db052c9d270ee.json
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/.cmake/api/v1/reply/index-2025-04-12T13-34-00-0899.json
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/2m701r4z/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/2m701r4z/x86/additional_project_files.txt
android/app/.cxx/Debug/2m701r4z/x86/android_gradle_build_mini.json
android/app/.cxx/Debug/2m701r4z/x86/android_gradle_build.json
android/app/.cxx/Debug/2m701r4z/x86/build_file_index.txt
android/app/.cxx/Debug/2m701r4z/x86/build.ninja
android/app/.cxx/Debug/2m701r4z/x86/cmake_install.cmake
android/app/.cxx/Debug/2m701r4z/x86/CMakeCache.txt
android/app/.cxx/Debug/2m701r4z/x86/configure_fingerprint.bin
android/app/.cxx/Debug/2m701r4z/x86/metadata_generation_command.txt
android/app/.cxx/Debug/2m701r4z/x86/prefab_config.json
android/app/.cxx/Debug/2m701r4z/x86/symbol_folder_index.txt
android/app/.cxx/Debug/2m701r4z/x86/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/2m701r4z/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/2m701r4z/x86/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/2m701r4z/x86/.cmake/api/v1/reply/cache-v2-c7b136550be1f4f66c15.json
android/app/.cxx/Debug/2m701r4z/x86/.cmake/api/v1/reply/cmakeFiles-v1-c4e63203da11f1629aa1.json
android/app/.cxx/Debug/2m701r4z/x86/.cmake/api/v1/reply/codemodel-v2-47ef25aae067a16c2992.json
android/app/.cxx/Debug/2m701r4z/x86/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/2m701r4z/x86/.cmake/api/v1/reply/index-2025-04-12T13-34-02-0301.json
android/app/.cxx/Debug/2m701r4z/x86/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/2m701r4z/x86/CMakeFiles/rules.ninja
android/app/.cxx/Debug/2m701r4z/x86/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/2m701r4z/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/2m701r4z/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/2m701r4z/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/2m701r4z/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/2m701r4z/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/2m701r4z/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/2m701r4z/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/2m701r4z/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/2m701r4z/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/2m701r4z/x86_64/additional_project_files.txt
android/app/.cxx/Debug/2m701r4z/x86_64/android_gradle_build_mini.json
android/app/.cxx/Debug/2m701r4z/x86_64/android_gradle_build.json
android/app/.cxx/Debug/2m701r4z/x86_64/build_file_index.txt
android/app/.cxx/Debug/2m701r4z/x86_64/build.ninja
android/app/.cxx/Debug/2m701r4z/x86_64/cmake_install.cmake
android/app/.cxx/Debug/2m701r4z/x86_64/CMakeCache.txt
android/app/.cxx/Debug/2m701r4z/x86_64/configure_fingerprint.bin
android/app/.cxx/Debug/2m701r4z/x86_64/metadata_generation_command.txt
android/app/.cxx/Debug/2m701r4z/x86_64/prefab_config.json
android/app/.cxx/Debug/2m701r4z/x86_64/symbol_folder_index.txt
android/app/.cxx/Debug/2m701r4z/x86_64/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/2m701r4z/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/2m701r4z/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/2m701r4z/x86_64/.cmake/api/v1/reply/cache-v2-e2128db1eb953cc52bd2.json
android/app/.cxx/Debug/2m701r4z/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-0f4ca8e145a31ffca49a.json
android/app/.cxx/Debug/2m701r4z/x86_64/.cmake/api/v1/reply/codemodel-v2-cfdacf2753cd77c980b1.json
android/app/.cxx/Debug/2m701r4z/x86_64/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/2m701r4z/x86_64/.cmake/api/v1/reply/index-2025-04-12T13-34-03-0475.json
android/app/.cxx/Debug/2m701r4z/x86_64/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/2m701r4z/x86_64/CMakeFiles/rules.ninja
android/app/.cxx/Debug/2m701r4z/x86_64/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/2m701r4z/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/2m701r4z/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/2m701r4z/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/2m701r4z/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/2m701r4z/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/2m701r4z/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/2m701r4z/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/2m701r4z/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/2m701r4z/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
